<div class="col-md-4 mx-auto">
    <h1 class="h4 font-weight-bold text-center">Agregar orden médica</h1>
    <hr>
    <form action="/orders/form" class= "justify-content-center" method="POST">                         
        <div class="form-group row">                        
            <div class="col-md-9 mx-auto text-center">
                <input type="number" name="identification" class="col-0 form-control" class="form-control bg-light" placeholder="Número de documento">                       
            </div>   
        </div>

        <div class="form-group">
            <textarea name="observation" class="form-control" id="Textarea1" rows="3" placeholder="Observación"></textarea>
        </div>

        

        <div class="form-group row">
            <div class="col-md-15 mx-auto text-center">                    
                <button class="btn btn-primary">Agregar orden</button>
            </div>   
        </div> 
    </form>                   
    <hr>
</div>



