<div class="col-md-4 mx-auto">
    <h1 class="h4 font-weight-bold text-center">Agregar orden médica</h1>
    <hr>
    <form action="/orders/form" class= "justify-content-center" method="POST">                         
        <div class="form-group row">                        
            <div class="col-md-9 mx-auto text-center">
                <input type="number" name="identification" class="col-0" class="form-control bg-light" placeholder="Número de documento">                       
            </div>   
        </div>
        <div class="form-group row">                      
            <div class="col-md-9 mx-auto">
                <label for="date">Fecha</label>
                <input type="date" name="date" class="form-control bg-light">
            </div>                   
        </div>

        <div class="form-group row">                      
            <div class="col-md-9 mx-auto">
                <label for="hour">Hora</label>
                <input type="time" name="hour" class="form-control bg-light">
            </div>                   
        </div>

        <div class="col-md-9 mx-auto">
            <textarea name="observation" cols="40" rows="5" placeholder="Observación"></textarea>
        </div>

        

        <div class="form-group row">
            <div class="col-md-15 mx-auto text-center">                    
                <button class="btn btn-primary">Agregar orden</button>
            </div>   
        </div> 
    </form>                   
    <hr>
</div>

