<div class="text-center p-0 mt-0 bd-highlight">   
    <h1 class="font-weight-bold ">5H-IAA: control estadístico</h1>     
    <p>El sistema de información para administrar las pruebas de orina 5H-IAA en los hospitales del Departamento del Huila </p>            
</div>

<div class="col-md-9 mx-auto">
  <hr> 
  <img src="../img/img-index.jpg" class="rounded mx-auto d-block img-fluid " width="" alt="...">
  <div class="caracteristicas ">
    
    <div class="caracteristica">
      <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-vaccine" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M17 3l4 4" />
          <path d="M19 5l-4.5 4.5" />
          <path d="M11.5 6.5l6 6" />
          <path d="M16.5 11.5l-6.5 6.5h-4v-4l6.5 -6.5" />
          <path d="M7.5 12.5l1.5 1.5" />
          <path d="M10.5 9.5l1.5 1.5" />
          <path d="M3 21l3 -3" />
        </svg>
      </div>
      <h4 class="font-weight-bold text-center my-4">¿A quién se le realiza?</h4>
      <p>La prueba debe realizase a pacientes que presentan</p>
      <ul>
        <li>Diarrea</li>
        <li>Sofoco</li>
        <li>Rubor facial</li>
      </ul>
    </div>

      <div class="caracteristica">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
            <path d="M8 15a6 6 0 1 0 12 0v-3" />
            <path d="M11 3v2" />
            <path d="M6 3v2" />
            <path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          </svg>
        </div>
      <h4 class="font-weight-bold text-center my-4">¿Cómo se realiza la prueba?</h4>
      <p>La prueba debe realizase a pacientes que presentan</p>
      <ul>
        <li>Se debe recolectar una muestra de orina durante un período de 24 horas</li>
        <li>Debes abstenerte de ciertos alimentos y medicamentos antes de la prueba</li>
        <li>Una vez recolectada la muestra, se envía al laboratorio para su análisis</li>
      </ul>
    </div>


    <div class="caracteristica">
      <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-octagon" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9.103 2h5.794a3 3 0 0 1 2.122 .879l4.101 4.1a3 3 0 0 1 .88 2.125v5.794a3 3 0 0 1 -.879 2.122l-4.1 4.101a3 3 0 0 1 -2.123 .88h-5.795a3 3 0 0 1 -2.122 -.88l-4.101 -4.1a3 3 0 0 1 -.88 -2.124v-5.794a3 3 0 0 1 .879 -2.122l4.1 -4.101a3 3 0 0 1 2.125 -.88z" />
          <path d="M12 8v4" />
          <path d="M12 16h.01" />
        </svg>
      </div>
      <h4 class="font-weight-bold text-center my-4">Información importante</h4>
      <p> Es importante tener en cuenta que los niveles elevados de 5HIAA en la orina no siempre indican la presencia de un tumor carcinoides. </p>
    </div>
    
  </div>
  <hr>
</div>
