<div> 
    <footer class="d-flex flex-row justify-content-around">

      <ul class="list-unstyled CTAs">        
        <li>            
            <div > 
                <img src="/img/minsalud.svg" width="210" alt="" class="mx-auto"/>                                          
            </div>   
        </li>        
      </ul>

      <div class="d-flex flex-column justify-content-center align-items-center">        
        <img src="/img/LUNIVERSITY.png" class="" width="100" alt="" />
        <div>
          <p class="copyright text-muted text-center container">Gupo de Investigación en Electrónica, Telecomunicaciones e Informática - GETI 
          <br>&copy; Universidad Surcolombiana</p>
        </div>                  
      </div>

      <div>        
        <img src="/img/geti.png" class="" width="" alt="" />                  
      </div>
    </footer>

    
</div>