<div class="col-md-4 mx-auto mt-0">
    <div class="card">
        <div class="card-header text-center bg-secondary">             
            <h1 class="h4 text-white">Búsqueda de usuario por cédula</h1>          
        </div>
        <div class="card-body">                
            <form action="/users/findUserByIdentification" class= "justify-content-center" method="POST">                         
                <div class="form-group row">
                    <div class="col-md-12 mx-auto">
                        <input type="number" class="form-control bg-light" name="identification" placeholder="Número de identificación">
                    </div>
                </div>
                <div class="col-md-15 mx-auto">                    
                    <button class="btn btn-prymary btn-block">Buscar</button>
                </div>                
            </form>                      
        </div>
    </div>    
</div>

<br>
