<div class="text-center p-0 mt-0 bd-highlight">   
    <h1 class="font-weight-bold ">5H-IAA</h1>   
    <h4 class="font-weight-bold ">Control estadístico</h4>                 
</div>           

<div class="col-md-4 mx-auto">
    <hr>
    <form action="/users/signIn" class= "justify-content-center" method="POST">                         
        <div class="form-group row">                        
            <div class="col-md-9 mx-auto">
                <input type="email" class="form-control bg-light" name="email" placeholder="Correo electrónico">                            
            </div>   
        </div>
        <div class="form-group row">                      
            <div class="col-md-9 mx-auto">
                <input type="password" class="form-control bg-light" name="password" placeholder="Contraseña">
            </div>                   
        </div> 
        <div class="form-group row">
            <div class="col-md-9 mx-auto">                    
                <button class="btn btn-primary btn-block">Iniciar sesión</button>
            </div>
        </div> 
    </form>                   
    <br>
    <div class="form-group row">
        <div class="col-md-9 mx-auto">
            <a href="/users/forgotPasswdForm"><button class="btn btn-block"> ¿Olvidaste tu contraseña? </button></a> 
        </div>
    </div> 
    <hr>
</div>
